---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Juan Pablo Olivera | Portafolio">
	<main>
		<h1>Juan Pablo Olivera</h1>
        <p>System Initialized...</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
        position: relative;
        z-index: 1;
	}
    h1 {
        font-family: var(--font-matrix);
        color: var(--color-matrix-primary);
        font-size: 4rem;
    }
</style>
